#footer {
    height: 80px;
    background-color: #383838;
    color: white;
    font-family: 'Pridi';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}